[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/hlissner/doom-emacs.git
[submodule ".vim_runtime"]
	path = .vim_runtime
	url = https://github.com/amix/vimrc.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
